<div class="m-0" style="max-width: 50vw">
  <span class="flex justify-content-between">
    <h3
      *ngIf="!editMode; else dueDateEditMode"
      class="m-0 mb-3"
      style="font-family: salisbury, arial, serif"
    >
      {{ checkIfDueToday(task.dueDate) }}
    </h3>
    <ng-template #dueDateEditMode>
      <p-calendar
        [(ngModel)]="taskDate"
        class="mb-2"
        dateFormat="dd MM yy"
      ></p-calendar>
    </ng-template>
    <span class="flex gap-5">
      <i
        class="pi pi-plus-circle light-button-small-task"
        pTooltip="Add sub task"
        tooltipPosition="bottom"
      ></i>
      <i
        class="pi light-button-small-task"
        [ngClass]="editMode ? 'pi-check-square' : 'pi-pen-to-square'"
        pTooltip="{{ editMode ? 'Confirm edit' : 'Edit task' }}"
        tooltipPosition="bottom"
        (click)="editMode = !editMode"
      ></i>
    </span>
  </span>

  <span
    class="text-lg font-semibold"
    [ngClass]="{ 'line-through': task.isCompleted }"
    *ngIf="!editMode; else labelEditMode"
  >
    <i
      class="pi mr-1 py-2 my-1 px-3 light-button-small-task"
      [ngClass]="task.isCompleted ? 'pi-times-circle' : 'pi-check-circle'"
      (click)="markAsCompleted(task)"
      pTooltip="{{
        task.isCompleted ? 'Task not completed' : 'Task completed'
      }}"
      tooltipPosition="left"
    ></i>
    {{ task.label }}
  </span>

  <ng-template #labelEditMode>
    <span class="text-lg font-semibold flex">
      <i
        class="pi pi-trash mr-1 py-2 my-1 px-3 light-button-small-task text-lg"
        pTooltip="Delete task"
        tooltipPosition="left"
        (click)="deleteTask()"
      ></i>
      <input type="text" pInputText [(ngModel)]="task.label" class="w-full" />
    </span>
  </ng-template>

  <span>
    <span
      *ngIf="!editMode; else editNodeMode"
      [ngClass]="
        task.note.isImportant ? 'opacity-70 text-red-600' : 'opacity-40'
      "
      class="block text-sm mt-2"
      style="margin-left: 3.6rem"
      ><i
        *ngIf="task.note.text != ''"
        class="pi pi-file text-sm mr-2 cursor-pointer"
        pTooltip="{{
          task.note.isImportant ? 'Remove highlight' : 'Highlight'
        }}"
        tooltipPosition="left"
        (click)="importantNoteToggle()"
      ></i
      >{{ task.note.text }}</span
    >

    <ng-template #editNodeMode>
      <span class="flex align-items-center mt-2" style="margin-left: 3.6rem">
        <i
          class="pi pi-trash text-sm mr-2 light-button-small-task"
          pTooltip="Delete note"
          tooltipPosition="left"
          (click)="deleteNote()"
        ></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="task.note.text"
          [placeholder]="'Add note'"
          class="w-full h-2rem"
        />
      </span>
    </ng-template>
  </span>

  <span class="flex flex-column mt-2" style="margin-left: 3.6rem">
    @for (subTask of task.subTasks; track subTask) {
      @if (!subTask.isDeleted) {
        <span
          class="text-sm"
          [ngClass]="{ 'line-through': subTask.isCompleted }"
          *ngIf="!editMode; else subTaskEditMode"
        >
          <i
            class="pi mr-1 py-2 my-1 px-3 light-button-small-task"
            [ngClass]="
              subTask.isCompleted ? 'pi-times-circle' : 'pi-check-circle'
            "
            (click)="markAsCompleted(subTask)"
            pTooltip="{{
              subTask.isCompleted ? 'Task not completed' : 'Task completed'
            }}"
            tooltipPosition="left"
          ></i>
          {{ subTask.label }}
        </span>
        <ng-template #subTaskEditMode>
          <span class="flex">
            <i
              class="pi pi-trash mr-1 py-2 my-1 px-3 light-button-small-task text-sm"
              pTooltip="Delete sub task"
              tooltipPosition="left"
              (click)="deleteSubTask(subTask)"
            ></i>
            <input
              type="text"
              pInputText
              [(ngModel)]="subTask.label"
              class="w-full h-2rem"
            />
          </span>
        </ng-template>
      }
    }
  </span>
</div>
