<div class="m-0">
  <h3 class='m-0 mb-3' style="font-family: 'salisbury', 'arial', serif;">{{ checkIfDueToday(task.dueDate) }}</h3>
  <span class="flex justify-content-between">
    <span class='text-lg' [ngClass]="{'line-through': task.isCompleted}">
      <i class="pi mr-1 py-2 my-1 px-3 light-button-small-task" [ngClass]="task.isCompleted ? 'pi-times-circle' : 'pi-check-circle'" (click)="markAsCompleted(task)" pTooltip="{{task.isCompleted ? 'Task not completed' : 'Task completed'}}" tooltipPosition="left"></i>
          {{task.label}}
    </span>
    <span class="flex gap-5">
      <i class="pi pi-plus-circle light-button-small-task" pTooltip="Add sub task" tooltipPosition="bottom"></i>
      <i class="pi pi-pen-to-square light-button-small-task" pTooltip="Edit task" tooltipPosition="bottom"></i>
      <i class="pi pi-file-plus light-button-small-task" pTooltip="Add note" tooltipPosition="bottom"></i>
    </span>
  </span>

  <span [ngClass]="task.note.isImportant ? 'opacity-70 text-red-600' : 'opacity-40'" class="block text-sm" style="margin-left: 3.6rem">{{task.note.text}}</span>

  <span class="flex flex-column mt-2 " style="margin-left: 3.6rem">
  @for (subTask of task.subTasks; track subTask) {
      <span class='text-sm' [ngClass]="{'line-through': subTask.isCompleted}">
      <i class="pi mr-1 py-2 my-1 px-3 light-button-small-task" [ngClass]="subTask.isCompleted ? 'pi-times-circle' : 'pi-check-circle'" (click)="markAsCompleted(subTask)" pTooltip="{{subTask.isCompleted ? 'Task not completed' : 'Task completed'}}" tooltipPosition="left"></i>
        {{subTask.label}}
      </span>
  }
  </span>
</div>
