<div
  *ngIf="taskData.length != 0; else noTasks"
  class="flex flex-column gap-4 pt-4"
>
  @for (task of taskData; track task.taskId; let idx = $index) {
    <app-task-view
      *ngIf="!task.isDeleted"
      [task]="task"
      (editedTaskEmitter)="saveTask()"
    />
    <p-divider
      *ngIf="idx != taskData.length - 1 && !task.isDeleted"
    ></p-divider>
    <span
      *ngIf="idx == taskData.length - 1 && !task.isDeleted"
      class="mb-4"
    ></span>
  }
</div>

<ng-template #noTasks>
  <div class="flex align-items-center justify-content-center">
    <h2 style="font-family: salisbury, arial, serif">No tasks! 🎉</h2>
  </div>
</ng-template>
